* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    width: 1152px;
    
}

p, ul, li, h1, h2 {
    margin: 0;
    padding: 0;
}

.container {
    background-color: #3E3E3E;
}

.nav {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 84px;
    background-color: #FDFFE2;
}

h1 {
    font-size: 44px;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size: 33px;
    font-weight: 400;
}

.nav-list {
    display: flex;
    gap: 30px;
    margin-right: 40px;
    list-style: none;
    font-family: Montserrat, serif;
    font-size: 20px;
}

.nav-list-link {
    text-decoration: none;
    color: black;
}

.nav-list-link:hover {
    text-decoration: underline;
}

.general-info {
    display: flex;
    padding: 78px 40px 100px;
    justify-content: space-between;
    align-items: center;
    background-color: #DFF1FF;
}

.left-side {
    width: 410px;
    height: 423px;
}

.left-side-photo {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.right-side {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-container {
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 31px 0;
    align-items: center;
    width: 577px;
    border: 1px solid hsl(0, 0%, 0%);
    background-color: #FFF;
    border-radius: 20px;
    font-size: 24px;
}

.header-block {
    display: flex;
    padding-left: 30px;
    align-items: center;
    height: 67px;
    background-color: #FDFFE2;
}


.container-about-me {
    display: flex;
    justify-content: center;
    padding: 50px 78px;
}

.container-about-me-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 55px 47px;
    background-color: #FFF;
    border: 1px solid black;
    border-radius: 20px;
}

.about-me-text {
    font-size: 24px;
}

.container-skills-experience {
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0;
    font-size: 24px;
}

.container-skills, .container-experience {
    width: 432px;
    padding: 40px 0 40px 45px;
    background-color: #FFF;
    border: 1px solid black;
    border-radius: 20px;
}

.skills-list, .experience-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.code-container {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.code-style {
    white-space: pre;
    padding: 30px 100px;
    background-color: #FFF;
    border: 1px solid black;
    border-radius: 20px;
}

.lang-edu-header-container {
    display: flex;
    justify-content: space-between;
}

.header-lang, .header-skills {
    width: 443px;
    padding-left: 30px;
}

.container-lang-edu {
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0;
    font-size: 24px;
}

.language-container, .skills-container {
    width: 423px;
    padding: 40px 0 40px 45px;
    background-color: #FFF;
    border: 1px solid black;
    border-radius: 20px;
}

.language-item, .skills-item {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 100px 1fr;
    padding: 50px 40px;
    background-color: #DFF1FF;
}

.logo-svg {
    height: 75px;
}

.github-link {
    text-align: right;
}

.github-svg {
    height: 75px;
}

.footer-text {
    padding-top: 25px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.projects-container {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.project-image {
    height: 400px;
    border-radius: 20px;
}